.vid{
    width: 15em;
    font-size: 1em;
    float: left;  
    margin: 0 0.2em;
    height: 100vr;
    align-items: center;
    position: relative;
}

.pic img{
    width: 100%;
}
.title{
    font-weight: bold;
    margin-bottom: 1em;
}

.channel, .views{
    font-size: small;
    margin-bottom: 0.2em;
}

.views span{
    padding: 0 0.7em;
}

.close{
    position: absolute;
    right: 0;
    font-weight: 700;
    font-style: bold;
}
.edit{
    position: absolute;
    left: 0;
    font-weight: 700;
    font-style: bold;
}